In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('/Users/jesseedelstein/Documents/Big Data/cyclands/data/denver/cycling_safety_denver.csv')
df

,Unnamed: 0,OBJECTID_1,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,TOP_TRAFFIC_ACCIDENT_OFFENSE,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,...,TU2_PEDESTRIAN_ACTION,SERIOUSLY_INJURED,FATALITIES,FATALITY_MODE_1,FATALITY_MODE_2,SERIOUSLY_INJURED_MODE_1,SERIOUSLY_INJURED_MODE_2,Date,Latitude,Longitude
0,228,229,2.019839e+07,2019838854410,5441,0,TRAF - ACCIDENT,2019-01-04 16:59:00,NaN,2019-01-04 16:59:00,...,,0.0,0.0,,,,,2019-01-04 16:59:00.000000,39.725638,-104.987436
1,285,286,2.019120e+08,20191202954410,5441,0,TRAF - ACCIDENT,2019-01-06 11:09:00,NaN,2019-01-06 11:09:00,...,,0.0,0.0,,,,,2019-01-06 11:09:00.000000,39.741554,-104.961937
2,357,358,2.019150e+08,20191501654410,5441,0,TRAF - ACCIDENT,2019-01-07 18:00:00,NaN,2019-01-07 18:05:00,...,,0.0,0.0,,,,,2019-01-07 18:05:00.000000,39.760757,-104.973343
3,456,457,2.019194e+08,20191941954010,5401,0,TRAF - ACCIDENT - HIT & RUN,2019-01-09 15:36:00,NaN,2019-01-09 16:21:00,...,,0.0,0.0,,,,,2019-01-09 16:21:00.000000,39.747654,-105.002489
4,472,473,2.019198e+08,20191975754410,5441,0,TRAF - ACCIDENT,2019-01-09 18:03:00,NaN,2019-01-09 18:03:00,...,,0.0,0.0,,,,,2019-01-09 18:03:00.000000,39.761354,-104.981733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,176872,176873,2.020157e+09,202015717554410,5441,0,TRAF - ACCIDENT,2020-03-12 08:00:00,NaN,2020-03-12 09:07:00,...,,0.0,0.0,,,,,2020-03-12 09:07:00.000000,39.743951,-105.029959
2276,176880,176881,2.020158e+09,202015770854411,5441,1,TRAF - ACCIDENT - SBI,2020-03-12 11:18:00,NaN,2020-03-12 11:18:00,...,,1.0,0.0,,,BICYCLE,,2020-03-12 11:18:00.000000,39.735153,-104.982300
2277,176892,176893,2.020158e+09,202015821654010,5401,0,TRAF - ACCIDENT - HIT & RUN,2020-03-12 15:40:00.000001,NaN,2020-03-12 16:56:00,...,,0.0,0.0,,,,,2020-03-12 16:56:00.000000,39.678434,-104.995999
2278,176923,176924,2.020129e+09,202012922654410,5441,0,TRAF - ACCIDENT,2020-02-28 16:28:00,NaN,2020-02-28 16:28:00,...,,0.0,0.0,,,,,2020-02-28 16:28:00.000000,39.740155,-104.902321
2279,176945,176946,2.020174e+09,202017356054410,5441,0,TRAF - ACCIDENT,2020-03-20 17:04:00,NaN,2020-03-20 17:04:00,...,,0.0,0.0,,,,,2020-03-20 17:04:00.000000,39.725650,-104.988880

In [8]:
df['SEVERITY'] = 0
df.loc[df['SERIOUSLY_INJURED'] == 1.0, 'SEVERITY'] = 1
df.loc[df['FATALITIES'] == 1.0, 'SEVERITY'] = 1
#df.loc[df['MOST_SEVERE_INJURY'] == 'NONINCAPACITATING INJURY', 'SEVERITY'] = 5
#df.loc[df['MOST_SEVERE_INJURY'] == 'REPORTED, NOT EVIDENT', 'SEVERITY'] = 3
#df.loc[df['MOST_SEVERE_INJURY'] == 'NO INDICATION OF INJURY', 'SEVERITY'] = 1
dummies_df = pd.get_dummies(df[['TOP_TRAFFIC_ACCIDENT_OFFENSE', 'HARMFUL_EVENT_SEQ_1', 'ROAD_LOCATION', 'ROAD_DESCRIPTION', 'ROAD_CONTOUR', 'ROAD_CONDITION', 'TU1_VEHICLE_TYPE', 'TU1_VEHICLE_MOVEMENT', 'TU1_DRIVER_ACTION', 'TU1_DRIVER_HUMANCONTRIBFACTOR', 'TU2_VEHICLE_TYPE', ]])
df = pd.concat([dummies_df,df[['DISTRICT_ID', 'PEDESTRIAN_IND', 'SEVERITY']]], axis=1)
df['SEVERITY'].describe()
df = df.dropna()
#df = df[df['SEVERITY'] > 6]

count    2270.000000
mean        0.123348
std         0.328909
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: SEVERITY, dtype: float64